html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.container {
  position: relative;
  width: 600px;
  margin: 64px auto 0 auto;
  padding: 40px 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  // overflow: visible;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $mainColor;
  }
}

// .circle {
//   z-index: 99;
// }

.nextBtn {
  @extend %btn;
  &.successBtn {
    background-color: $mainColor;
  }
}

.title {
  h1 {
    @include fontSet(48px, 300);
  }
  span {
    @include fontSet(24px, 300);
  }
}

.form {
  @include fontSet(20px, 400);
  label {
    @include fontSet(20px, 400);
    margin-bottom: 8px;
    display: block;
  }
  input {
    @include inputBorder(100%, 52px);
    &::-webkit-input-placeholder {
      color: $grayColor;
      font-size: 14px;
    }
  }
  input.warning {
    border-color: $warnColor;
    &::-webkit-input-placeholder {
      direction: rtl; 
    }
  }
  input.success, select.success {
    border-color: $mainColor !important;
  }
}

.warningSet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  .warningIcon {
    &::after {
      position: absolute;
      @include font_awesome('\f071', 20px, 900);
      color: $warnColor;
    }
  }
  .warningText {
    position: absolute;
    font-size: 14px;
    color: white;
    background-color: $warnColor;
    padding: 10px 10px;
    white-space: nowrap;
    border-radius: 5px;
    z-index: 10;
    &::before {
      content: '';
      position: absolute;
      top: 40%;
      right: 95%;
      width: 10px;
      height: 10px;
      background-color: $warnColor;
      transform: rotate(45deg);
    }
  }
}

label > span {
  color: red;
}
